.my-card {
  margin: 1rem 0.5rem; /* Adjusted to reduce horizontal spacing */
  border-radius: 0.5rem;
  min-width: 300px;
  flex: 1;
  background-color: #4a4a4a53;
  border: 0.001px solid #8c8c8c;
  
  /* height: 360px; */
}

.my-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items at the start to keep them at the top */
  margin: 1rem auto; /* Reduced margin */
  flex-wrap: wrap;
  gap: 10px; /* Keep or adjust this */
}

/* Other styles remain unchanged */

.ant-card-head-title {
  margin: 0rem !important;
  font-weight: bold;
  color: white;
}

.my-card p {
  margin: 0;
  color: #8b8b8b;
}

/* New styles for the expenditure card */
.expenditure-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 270px; */
}

.income-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 272px;
}

.recent-entries {
  display: flex;
  flex-direction: column; /* Stack entries vertically */
  gap: 10px; /* Space between entries */
  width: 100%; /* Full width of the card */
  padding: 5px 0;
}

.entry-item {
  padding: 5px;
  border-radius: 4px;
  color: #8c8c8c; /* Text color for entries */
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  /* align-items: center; */
  font-size: medium;
  justify-content: space-between; /* Positions name on the left and amount on the right */
  width: 100%; /* Ensures the entry takes full width */
}

.entry-name {
  flex: 2; /* Adjust space for name */
  text-align: left; /* Align left */
  margin-right: 20px; /* Fixed space between name and tag */
}

.entry-tag {
  flex: 1; /* Adjust space for tag */
  text-align: center; /* Center align */
  margin-right: 80px; /* Fixed space between tag and amount */
  border-radius: 10px;
  padding: 0.5px 10px;
}
.entry-amount {
  color: white;
}
.header-tag {
  flex: 1;
  text-align: center;
  /* margin-right: -30px; */
}

.entry-amount {
  flex: 1; /* Adjust space for amount */
  text-align: right; /* Align right */
}

/* .entry-item:hover {
  background-color: #777; /* Darker background on hover */
/* } */

.expenditure-title,
.balance-title,
.card-title {
  margin: 0; /* Remove margin for the titles */
  color: white;
}

.expenditure-value,
.balance-value,
.card-value {
  font-size: 1.5rem; /* Make the expenditure and balance values larger */
  margin: 0; /* Remove margin */
}

.header-row {
  display: flex; /* Use flexbox for the header */
  justify-content: space-between; /* Distribute space between headers */
  font-weight: bold; /* Make headers bold */
  margin-bottom: 10px; /* Space between header and entries */
  color: #8c8c8c;
}


.no-transactions {
  text-align: center;
  color: #888;
  font-style: italic;
  margin-top: 10px;
}
