 .input-radio {
    display: flex;
    gap: 0.5rem; 
  }
  
  .ant-table-tbody > tr > td {
    padding: 8px; /* Decrease this value to reduce spacing */
  }
  
  /* Adjust the padding of table headers */
  .ant-table-thead > tr > th {
    padding: 8px; /* Decrease this value to reduce spacing */
  }
  
  .input-radio .ant-radio-button-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    padding: 0.5rem; 
    min-width: 120px; 
    flex-shrink: 0; 
    border-radius: 5px;
   
  }
   

  .transactions-container {
    width: 90%;
    margin: auto;
    padding: 1rem;
  }
  
  .transactions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .input-flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .select-input {
    width: 150px;
  }
  
  .transactions-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .input-radio {
    display: flex;
    justify-content: center;
  }
  

  
  .btn {
    width: 100px;
    height: 40px;
    background-color: #1890ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0073e6;
  }
  
  .table {
    width: 100%;
    margin-top: 1rem;
  }
  
  .table th,
  .table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  .export-buttons {
    display: flex;
    justify-content: flex-end; /* Align the button to the right */
    margin-top: 10px;
    gap: 1rem;
  }
  
  .export-button {
    background-color: #4CAF50; /* Green color for the button */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 2px; /* Adjust padding to make it smaller */
    font-size: 14px; /* Adjust font size */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    margin-left: 10px;
  }
  
  .export-button:hover {
    background-color: #45a049; /* Darken the button on hover */
  }
  
  .export-button:active {
    background-color: #3e8e41; /* Even darker when pressed */
  }
  
  .export-button:focus {
    outline: none; /* Remove the default button outline */
  }
  
  