.signup-wrapper {
  width: 70%;
  height: auto;
  max-width: 450px;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.title {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}
.p-login {
  cursor: pointer;
  text-align: center;
  margin: 0;
  font-size: 0.85rem;
  font-weight: 300;
}
